.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.optionAnswer {
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
.Answers {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}